.primary_btn {
    padding: 18px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 220px;
    font-size: 14px;
    cursor: pointer;
}
.outline {
    padding: 18px 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 220px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}